$miniMobile: "(max-width: 480px)";
$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";

$blackColor: #000;
$greenColor: #1bac91;
$mainColor: #21413c;